<h2>Past Walkthroughs</h2>
<table class="table">
    <tr>
        <th>Question Set</th>
        <th>Reviewer</th>
        <th>Teacher</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Class Period</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="walkthrough in walkthroughs">
        <td>{{walkthrough.questionSet.title}}</td>
        <td>{{walkthrough.name}}</td>
        <td>{{walkthrough.teacher}}</td>
        <td>{{walkthrough.subject}}</td>
        <td>{{walkthrough.date | date : 'yyyy-MM-dd'}}</td>
        <td>{{walkthrough.class_period}}</td>
        <td><a href="/#/walkthrough/{{walkthrough.questionSet.id}}/{{walkthrough.id}}">Edit</a></td>
    </tr>
</table>