<div ng-if="questionSet.id">
<h2>{{questionSet.title}}</h2>
<div class="row">
    <div class="col-xs-2">
        <div class="list-group">
            <a class="list-group-item" ng-class="{active: activeTab == 'information'}" ng-click="activeTab = 'information'" data-toggle="tab">Information</a>
            <a class="list-group-item" ng-class="{active: $parent.activeTab == page.id}" ng-click="$parent.activeTab = page.id" data-toggle="tab" ng-repeat="page in questionSet.questionSetPages">{{page.short_title}}</a> 
        </div>
    </div>
    <div class="col-xs-10">
        {{answer}}
        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: activeTab == 'information'}" id="information">
                <h3>Information</h3>
                <div cwt-question-set-page-information></div>
            </div>
            <div class="tab-pane" ng-class="{active: activeTab == 'second'}" id="second">Second</div>
            <div class="tab-pane" ng-class="{active: $parent.activeTab == page.id}" id="page.id" ng-repeat="page in questionSet.questionSetPages">
                <h3>{{page.short_title}}: {{page.title}}</h3>
                <div cwt-question-set-page></div>
            </div>
        </div>
    </div>
</div>
</div>