<div class="form-group">
    <label for="question_{{question.id}}">{{question.title}}</label>
    <div ng-if="question.description">{{question.description}}</div>
    <input type="text" class="form-control" id="question_{{question.id}}" placeholder="" ng-if="question.type == 'text'" ng-model="answers[question.id]" ng-blur="checkAnswers()">
    <input type="text" class="form-control" id="question_{{question.id}}" placeholder="" ng-if="question.type == 'date'" ng-model="answers[question.id]" ng-blur="checkAnswers()">
    <textarea class="form-control" id="question_{{question.id}}" placeholder="" rows="10" ng-if="question.type == 'textarea'"  ng-model="answers[question.id]" ng-blur="checkAnswers()"></textarea>
    <div class="checkbox" ng-if="question.type == 'checkbox'">
        <div ng-repeat="questionOption in question.questionOptions">
            <label><input type="checkbox" id="question_{{question.id}}_{{questionOption.id}}" value="{{questionOption.value}}"  ng-model="answers[question.id + '_' + questionOption.id]" ng-change="checkAnswers()">{{questionOption.description}}</label>
        </div>
    </div>
</div>